.btn {
    cursor: pointer;
    display: inline-block;
    padding: 22px 30px;
    background: $pink;
    color: #fff;
    font-weight: 800;
    border-radius: 40em;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 42px;

    box-shadow: 0 4px 0 $darkPink, 0 15px 4px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s ease, border 0.2s 0.2s, background 0.3s 0s;
    @include lg {
        font-size: 20px;

        padding: 30px 40px;
    }
    &:hover {
        background: #ef237d;
    }
    &:active {
        border-color: transparent;
        box-shadow: 0 0 rgba(0, 0, 0, 0);
        background: $pink;
    }

    &.btn--whatsapp {
        background: #00cb78;
        box-shadow: 0 4px 0 #00b269, 0 15px 4px rgba(0, 0, 0, 0.12);
        padding: 18px 26px 15px 26px;
        &:hover {
            background: #03e388;
            box-shadow: 0 4px 0#20CE7B, 0 15px 4px rgba(0, 0, 0, 0.12);
        }
        &:active {
            border-color: transparent;
            box-shadow: 0 0 rgba(0, 0, 0, 0);
            background: #05a864;
        }
        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-size: contain;
            background-position: center;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -1px;
            margin-right: 8px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.961' height='19.959' viewBox='0 0 19.961 19.959'%3E%3Cg id='Group_1993' data-name='Group 1993' transform='translate(0.396 0.25)'%3E%3Cpath id='Path_505' data-name='Path 505' d='M9029.461,3037.863a7.948,7.948,0,0,1-4.386-1.31l-3.064.976,1-2.938a7.836,7.836,0,0,1-1.52-4.64,7.444,7.444,0,0,1,.039-.768,7.977,7.977,0,0,1,15.882.151c.018.206.025.409.025.618a7.951,7.951,0,0,1-7.974,7.912Zm9.48-8.152a9.485,9.485,0,0,0-18.953-.172c-.006.137-.009.274-.009.412a9.329,9.329,0,0,0,1.359,4.861l-1.71,5.048,5.252-1.669a9.493,9.493,0,0,0,14.063-8.24c0-.079,0-.159,0-.24Z' transform='translate(-9019.629 -3020.539)' fill='%23fff' stroke='%23fff' stroke-width='0.5' fill-rule='evenodd'/%3E%3Cpath id='Path_506' data-name='Path 506' d='M9041.731,3039.632c-.234-.115-1.376-.675-1.592-.75s-.367-.116-.521.115-.6.75-.738.9-.27.173-.506.058a6.307,6.307,0,0,1-1.87-1.145,6.83,6.83,0,0,1-1.288-1.594c-.135-.231-.016-.355.1-.471s.231-.271.353-.4c.032-.04.057-.075.081-.11a2.252,2.252,0,0,0,.151-.276.423.423,0,0,0-.021-.4c-.059-.115-.521-1.252-.72-1.714s-.385-.382-.521-.382-.29-.022-.445-.022a.857.857,0,0,0-.62.289,2.571,2.571,0,0,0-.814,1.927,3,3,0,0,0,.119.786,5.332,5.332,0,0,0,.83,1.6,9.579,9.579,0,0,0,3.971,3.486c2.365.918,2.365.612,2.792.572a2.322,2.322,0,0,0,1.569-1.1,1.907,1.907,0,0,0,.135-1.1c-.059-.093-.213-.151-.442-.266Z' transform='translate(-9027.551 -3028.32)' fill='%23fff' stroke='%23fff' stroke-width='0.5' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
        }
    }
}
